# ElevenLabs
ELEVEN_LABS_API_KEY=sk_6069551f726243fee7b4da7f1840bcc7a6ac634a8a4b0de6
# Browser Use
BROWSER_USE_API_KEY=bu_2uUaLTii-ZjcqeZnNCizMtm6UsAADGM_Irb5qFcG-AE

# TwelveLabs
TWELVE_LABS_API_KEY=tlk_1C43EXX3NH6GWD287189A31216KE

# Google Gemini
GOOGLE_API_KEY=AIzaSyCYEXNPEc1GPAyiGObu0fyY9ybpCf5jSLU

# Redis
REDIS_URL=redis://localhost:6379/0

# MongoDB
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=lecturelens

